In [9]:
import pandas as pd

In [10]:
df=pd.read_csv("../data/csv/txs.csv")

In [11]:
df=df.sort_values(by=['positionEdited'])

In [12]:
df.to_csv("../data/csv/txs_sorted_byEdited.csv")

In [13]:
df

,transaction,blockNum,positionOriginal,positionEdited
137,0xee955a92c4481b829aead5a543afeb4f50d54f1dccd6...,12977039,5,0
152,0x83afb72f9ecca6bfd32075e446b6fe57781937295d46...,12977039,7,1
372,0xf91cd312ed58e527483152176b61177bca9e01b7b63e...,12977039,8,2
342,0x385f073acfe7fda7a9a62b1dc244babb4416f1153f9c...,12977039,9,3
271,0x1a22e2f3e9b658a7041ced8266e87a073eaee52e3abd...,12977039,10,4
...,...,...,...,...
213,0x424ef84c758bbd8d196755b4df39c58176954d3d6511...,12977039,373,378
107,0x1c4cde6278d44bb634dcdc5fde731731dad28f6b7ed2...,12977039,374,379
92,0x2124d42bf2e0883b9f3b53c69a3d81b8bae3f6c716c3...,12977039,375,380
360,0x9c9aa8f2aa91e8190654b146a91b8806c178fa06d7cb...,12977039,379,381
99,0xc4a91693519ef345bb34643bec460106bfa18ac3390d...,12977039,380,382