In [1]:
from asyncore import read
from distutils.command.build_scripts import first_line_re
from re import L, T
import pandas as pd
import datetime
import numpy as np
import csv    #加载csv包便于读取csv文件
import zipfile
import os
import json
import pickle

In [6]:
normal=pd.read_csv('../data/csv/erc20/to/toNormalMap.csv')
normal.sort_values(by="mineIncome")
normal.head(10)

                                      address    mineIncome
0  0x01ff6318440f7d5553a82294d78262d5f5084eff  2.188180e+20
1  0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f  8.795680e+19
2  0x0000006daea1723962647b7e189d311d757fb793  4.004738e+19
3  0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45  1.334968e+19
4  0x7cf09d7a9a74f746edcb06949b9d64bcd9d1604f  1.747783e+21
5  0xdef171fe48cf0115b1d80b88dc8eab59176fee57  6.146859e+18
6  0xc358848e138ab73bd5b9ffcced25517f71101fb0  1.628416e+19
7  0x000000000035b5e5ad9019092c665357240f594e  2.982490e+21
8  0x1d6e8bac6ea3730825bde4b005ed7b2b39a2932d  3.777094e+21
9  0x2ae0d7d7e9c7880f01e530c731f21d49be179732  2.926488e+19