In [8]:
import pandas as pd
import numpy as np
import pickle

In [9]:
df = pd.read_csv('../data/csv/addrBalanceDifference.csv')

In [10]:
block_balance={}

In [11]:
for index, row in df.iterrows():
    blockNum=row["blockNum"]
    balanceDifference=row["balanceDifference"]
    if float(balanceDifference)==0:continue
    if block_balance.get(blockNum)!=None:
        block_balance_value=block_balance[blockNum]
        block_balance_value['balanceDifference']+=balanceDifference
        block_balance[blockNum]=block_balance_value
    else:
        block_balance_value={"balanceDifference":balanceDifference,"serviceChargeDiff":row["serviceChargeDiff"]}
        block_balance[blockNum]=block_balance_value

In [12]:
df=pd.DataFrame(columns=('blockNum','balance_service_Difference','balanceDifference','serviceChargeDiff'))
for key,value in block_balance.items():
    balance_service_Difference=float(value["balanceDifference"]+value["serviceChargeDiff"])
    balanceDifference=float(value["balanceDifference"])
    serviceChargeDiff=float(value["serviceChargeDiff"])
                                     
    df=df.append([{'blockNum':key,'balance_service_Difference':balance_service_Difference,'balanceDifference':balanceDifference,'serviceChargeDiff':serviceChargeDiff}],ignore_index = True)

In [13]:
df1=df.sort_values("balance_service_Difference",ascending=False)
temp_list=np.array(range(1,len(df)+1,1))
df1.index=pd.Series(temp_list)
df1

   blockNum  balance_service_Difference  balanceDifference  serviceChargeDiff
1   5074829                6.976502e+15       7.447902e+15      -4.714000e+14
2   5087761                1.986560e+06      -9.150000e+14       9.150000e+14
3   5073393                1.785600e+05      -2.363640e+15       2.363640e+15
4   5085381                3.152000e+04      -2.363640e+15       2.363640e+15
5   5077959                1.710000e+02       5.202950e+15      -5.202950e+15
6   5078286                1.280000e+02      -7.095450e+14       7.095450e+14
7   5083747                1.100000e+02       4.589953e+15      -4.589953e+15
8   5086899                6.600000e+01       1.611025e+14      -1.611025e+14
9   5075274                2.400000e+01       2.031980e+14      -2.031980e+14
10  5082409                2.400000e+01      -1.996250e+11       1.996250e+11
11  5080733                1.200000e+01       6.771578e+14      -6.771578e+14
12  5087508                0.000000e+00       3.872589e+14      -3.872589e+14
13  5085610                0.000000e+00       1.593958e+15      -1.593958e+15
14  5085435                0.000000e+00       1.473320e+14      -1.473320e+14
15  5080443                0.000000e+00      -6.447860e+15       6.447860e+15
16  5085342                0.000000e+00       2.005302e+15      -2.005302e+15
17  5085080                0.000000e+00      -1.002960e+15       1.002960e+15
18  5081981                0.000000e+00       1.064353e+16      -1.064353e+16
19  5072795                0.000000e+00       4.431700e+14      -4.431700e+14
20  5079822                0.000000e+00       0.000000e+00       0.000000e+00
21  5078716                0.000000e+00       3.520800e+10      -3.520800e+10
22  5078328                0.000000e+00       1.506891e+14      -1.506891e+14
23  5077272                0.000000e+00       5.655980e+14      -5.655980e+14
24  5076149                0.000000e+00       2.262392e+15      -2.262392e+15
25  5076144                0.000000e+00       7.500000e+13      -7.500000e+13
26  5076066                0.000000e+00       2.570900e+14      -2.570900e+14
27  5073999               -4.000000e+00      -2.656489e+14       2.656489e+14
28  5074254               -2.200000e+01       5.313137e+13      -5.313137e+13
29  5087317               -5.700000e+01       4.723657e+15      -4.723657e+15
30  5073102               -9.600000e+01       1.389235e+15      -1.389235e+15
31  5083522               -3.220000e+02       7.037977e+14      -7.037977e+14
32  5079786               -2.048000e+04       5.141800e+14      -5.141800e+14
33  5086316               -2.541158e+07      -9.000000e+14       9.000000e+14
34  5078777               -1.500000e+14       5.242880e+05      -1.500000e+14
35  5078459               -5.824620e+15       7.987200e+04      -5.824620e+15

In [14]:
df1.to_csv("../data/csv/blockProfit1.csv")

In [93]:
df1=pd.read_csv("../data/csv/blockProfit1.csv")
df1[df1["blockNum"]==5312669]

Empty DataFrame
Columns: [Unnamed: 0, blockNum, balance_service_Difference, balanceDifference, serviceChargeDiff]
Index: []