In [21]:
import csv
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('../data/csv/addrBalanceDiff_specialTokens.csv')

In [6]:
df.head(2)

,address,blockNum,transactionHash,ETHER,WETH,USDT,USDC,WBTC,DAI
0,0x11b815efb8f581194ae79006d24e0d814b7697f6,12862614,0x92673a26a8f42cc470caff417418ff57f67b7a3784b1...,0,0,-88702458,0,0,0
1,0x5bf29a04fcaf658c0e45f94f25140cae8f9ae5d3,12416234,0xa20a91a8f436f25f415b97bcdcbafc3008b8c5337149...,2614416000000000,0,0,0,0,0

# 结果汇总

### 提取每个csv文件的前20行然后汇总

In [72]:
columns=['address', 'blockNum', 'transactionHash','positionOriginal','positionEdited', 'ETHER', 'WETH', 'USDT','USDC', 'WBTC', 'DAI']
df=pd.DataFrame(columns=columns)
df

Empty DataFrame
Columns: [address, blockNum, transactionHash, positionOriginal, positionEdited, ETHER, WETH, USDT, USDC, WBTC, DAI]
Index: []

In [73]:
nameList=["addrBalanceDiff_specialTokens_sortedByEther","addrBalanceDiff_specialTokens_sortedByWeth","addrBalanceDiff_specialTokens_sortedByUsdt","addrBalanceDiff_specialTokens_sortedByUsdc","addrBalanceDiff_specialTokens_sortedByWbtc","addrBalanceDiff_specialTokens_sortedByDai"]

In [74]:
for name in nameList:
    path="../data/csv/"+name+".csv"
    tempDf = pd.read_csv(path)
    df=df.append(tempDf.iloc[0:20])

In [75]:
temp_list=np.array(range(1,len(df)+1,1))
df.index=pd.Series(temp_list)

In [76]:
df.to_csv("../data/csv/addrBalanceDiff_specialTokens_part.csv")

In [77]:
df

,address,blockNum,transactionHash,positionOriginal,positionEdited,ETHER,WETH,USDT,USDC,WBTC,DAI
1,0x4ddc2d193948926d02f9b1fe9e1daa0718270ed5,12972381,0xeaa36a559ef9839c377fca96f1a1dd8e685efdd3ee94...,0,134,410003285704558562920,0,0,0,0,0
2,0x4ddc2d193948926d02f9b1fe9e1daa0718270ed5,12972361,0x9ad34f68a34810d43972f3314ab32bb6be508e32048f...,0,175,240001924080233603762,0,0,0,0,0
3,0x4ddc2d193948926d02f9b1fe9e1daa0718270ed5,12976306,0x0ed316d0da8ca1d04c56286376d2718fa1f9857c09b3...,0,104,240001922191483409323,0,0,0,0,0
4,0x4ddc2d193948926d02f9b1fe9e1daa0718270ed5,12420617,0x614907e7db077e725337f6c159863a7bac75c7004c7a...,185,183,208223630756603016440,0,0,0,0,0
5,0x4ddc2d193948926d02f9b1fe9e1daa0718270ed5,12446810,0x93045bbb31b7bb7b9092ce1c790e83f2c32cb0756ca7...,0,21,177949847767585729203,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
116,0x323b7f37d382a68b0195b873af17cea5b67cd595,12200820,0x963537158b92d8442edad57e84c852f96caefdaf11fa...,104,1,-68951341308640762,0,0,0,0,0
117,0x498e9f240158c11e822c983938d1a093a81e0e3c,12970370,0xc05e811b8b08e857e3ea5d76b31b58c5e4650dc792f8...,149,148,0,0,213747691,0,0,0
118,0x0c7ee7462c26e2ae6939eb2ac84c23d233c40117,12459924,0x5164572f8a0104f6319bc5f05e498cc3c02a35dcd0e9...,32,23,38707754290462296,0,0,0,0,0
119,0xa3fa8c350beb165cc3abe8ebb85a1b4ed2054e59,12967740,0xe19f79a91e9f28b61405429ed4a35af40ac8e87db115...,216,233,-527049600000000,0,0,0,0,0
120,0x97d43f3301b3f35433bc6af38f7046da20206579,12669850,0x6d6842511d27ef4f27f4e89f56238f4afa98e875bc97...,80,79,0,-333284786247158482,0,0,0,0