In [27]:
import pandas as pd
import numpy as np
import pickle

In [36]:
df = pd.read_csv('../data/csv/addrBalanceDifference.csv')

In [37]:
block_balance={}

In [38]:
for index, row in df.iterrows():
    blockNum=row["blockNum"]
    balanceDifference=row["balanceDifference"]
    if float(balanceDifference)==0:continue
    if block_balance.get(blockNum)!=None:
        block_balance[blockNum]+=balanceDifference
    else:
        block_balance[blockNum]=balanceDifference

In [39]:
df=pd.DataFrame(columns=('blockNum','balanceDifference'))
for key,value in block_balance.items():
    if value<0:continue
    df=df.append([{'blockNum':key,'balanceDifference':float(value)}],ignore_index = True)

In [40]:
df1=df.sort_values("blockNum",ascending=False)
temp_list=np.array(range(1,len(df)+1,1))
df1.index=pd.Series(temp_list)

In [41]:
df1.to_csv("../data/csv/blockProfit.csv")

In [42]:
df1

    blockNum  balanceDifference
1    5399715       1.922008e+20
2    5399503       1.839325e+15
3    5399410       4.906033e+21
4    5399395       3.751000e+11
5    5399383       3.017745e+22
..       ...                ...
375  5310503       1.082850e+18
376  5310501       2.539320e+16
377  5310498       2.600000e+17
378  5310009       1.349133e+14
379  5310007       4.086703e+14

[379 rows x 2 columns]